<ion-header>
  <ion-toolbar>
    <ion-title>Agenda de Citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="addOrUpdateCita()" class="ion-padding">
    <ion-item>
      <ion-label position="stacked">Paciente</ion-label>
      <ion-input [(ngModel)]="form.paciente" name="paciente" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Motivo</ion-label>
      <ion-input [(ngModel)]="form.motivo" name="motivo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha</ion-label>
      <ion-datetime [(ngModel)]="form.fecha" name="fecha" required></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Hora</ion-label>
      <ion-input [(ngModel)]="form.hora" name="hora" required></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">{{ editingId ? 'Actualizar' : 'Agregar' }}</ion-button>
  </form>

  <ion-list>
    <ion-item *ngFor="let cita of citas">
      <ion-label>
        <h2>{{ cita.paciente }}</h2>
        <p>{{ cita.motivo }}</p>
        <p>{{ cita.fecha }} - {{ cita.hora }}</p>
      </ion-label>
      <ion-button fill="clear" (click)="editCita(cita)">Editar</ion-button>
      <ion-button fill="clear" color="danger" (click)="deleteCita(cita.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
