<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil-list</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-item>
    <ion-label>
      <font color="red">Utilizando un Accesador
        <ion-button [routerLink]="['/perfil-add']">Agregar</ion-button>
      </font>
    </ion-label>
  </ion-item>
  <ion-list padding>
    <!-- Recorremos el arreglo de registros utilizando item-->
    <ion-item *ngFor="let p of perfiles">
      <!-- Icono al inicio (start)-->
      <ion-icon name="star" slot="start"></ion-icon>
      <!-- Campos de item -->
      <ion-label>{{p.usuario}}</ion-label>


      <!-- Icono al final -->
      <ion-icon name="information-circle" slot="end"></ion-icon>
      <!-- routerlink salta a otra pagina-->
      <ion-button [routerLink]="['/perfil-edit/',p.id]">Edit</ion-button><br />
      <!-- routerlink salta a otra pagina, pero con id del item-->
      <ion-button [routerLink]="['/perfil-detail',p.id]">Detail</ion-button><br />
    </ion-item>
  </ion-list>


</ion-content>



