ion-content {
    --background: #26A69A;
    --ion-background-color: #ffffff;
    --ion-text-color: #080000;
    //--ion-color-step-500: #192129;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;}

