<ion-header>
  <ion-toolbar>
    <ion-title>Citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="addAppointment()">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="newAppointment.name" name="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha</ion-label>
      <ion-datetime [(ngModel)]="newAppointment.date" name="date" required></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea [(ngModel)]="newAppointment.description" name="description"></ion-textarea>
    </ion-item>
    <ion-button expand="full" type="submit">Agregar Cita</ion-button>
  </form>

  <ion-list>
    <ion-item *ngFor="let appointment of appointments">
      <ion-label>
        <h2>{{ appointment.name }}</h2>
        <p>{{ appointment.date }} - {{ appointment.description }}</p>
      </ion-label>
      <ion-button color="danger" (click)="deleteAppointment(appointment.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

