  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>TeleSalud</ion-title>
  </ion-toolbar>   
  <ion-content class="ion-padding">
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-list [inset]="true">
          <ion-item [button]="true" detail="false">
            <div class="unread-indicator-wrapper" slot="start">
              <div class="unread-indicator"></div>
            </div>
            <ion-label>
              <strong>Cita 1</strong>
              <ion-note color="medium" class="ion-text-wrap">
              </ion-note>
            </ion-label>
            
            <div class="metadata-end-wrapper" slot="end">
              <ion-note color="medium">  <ion-button expand="block" (click)="setOpen(true)">Ver Cita</ion-button>
                <ion-modal [isOpen]="isModalOpen">
                  <ng-template>
                    <ion-header>
                      <ion-toolbar>
                        <ion-title>ModalCita</ion-title>
                        <ion-buttons slot="end">
                          <ion-button (click)="setOpen(false)">Cerrar</ion-button>
                        </ion-buttons>
                      </ion-toolbar>
                    </ion-header>
                    <ion-content class="ion-padding">
                      <p>
                        Su cita fue reprogramada para el dia 05/10/2024
                      </p>
                    </ion-content>
                  </ng-template>
                </ion-modal>
              </ion-note>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row> 
  </ion-content>
