<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="regresarAlLogin()">
        <!-- Puedes usar ion-icon o img aquí para tu logo -->
        <!-- Ejemplo con ion-icon -->
        <ion-icon name="arrow-back"></ion-icon>
        
        <!-- Ejemplo con img -->
        <!-- <img src="ruta/al/logo.png" alt="Logo"> -->
      </ion-button>
    </ion-buttons>
    <ion-title>TeleSalud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h2>¿Olvidaste tu contraseña?</h2>
    <p>Ingresa tu correo electrónico para recibir un enlace de recuperación</p>

    <ion-item>
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="enviarCorreo()">Enviar Correo</ion-button>
  </div>
</ion-content>
