<ion-content class="ion-padding fade-in login-page">
  <div class="header-title">
    <div class="welcome">Bienvenidos a TeleSalud</div>
    <br><br>
    <div class="Title">Iniciar Sesión</div>
  </div>
  
  <!-- Usuario -->
  <ion-item>
    <ion-label position="stacked">Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>
  <div *ngIf="usernameErrorL" class="error-message">
    {{ usernameErrorL }}
  </div>

  <!-- Contraseña -->
  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input 
      [type]="mostrarContrasena ? 'text' : 'password'" 
      [(ngModel)]="password">
    </ion-input>
    <ion-icon 
      slot="end" 
      class="eye-icon" 
      name="{{ mostrarContrasena ? 'eye-off' : 'eye' }}" 
      (click)="toggleMostrarContrasena()">
    </ion-icon>
  </ion-item>
  <div *ngIf="passwordErrorL" class="error-message">
    {{ passwordErrorL }}
  </div>

  <!-- Botón Ingresar -->
  <ion-button expand="full" (click)="login()">Ingresar</ion-button>

  <!-- Botón Crear Cuenta -->
  <ion-button expand="full" color="secondary" (click)="crearCuenta()">Crear cuenta</ion-button>

  <!-- Botón Olvidaste tu Contraseña -->
  <ion-button expand="full" fill="clear" color="black" (click)="olvidasteContrasena()">¿Olvidaste tu contraseña?</ion-button>

  <div class="error-message" style="color: red;"></div>
</ion-content>
