ion-content {
    --background: #26A69A;
    --ion-item-background:#26A69A;
  
  }
  
ion-item{
    --background: #26A69A; 
    --ion-item-background:#26A69A;
  
  }
  
  
ion-list{
    --background: #26A69A; 
    --ion-item-background:#26A69A;
    --border-color: var(#26A69A);
  }
  
  
ion-menu{
    --background: #26A69A; 
    --ion-item-background:#26A69A;
    --border-color:#26A69A;
    --ion-item-border-color:#26A69A
  }
  


ion-toolbar{
    --background: #48646e !important;
  }