#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-toolbar{
  --background: #48646e;
}

img {
  width: 100%;
  height:auto;
}

ion-content {
  --background: #26A69A;
  --ion-item-background:#26A69A;

}

ion-item{
  --background: #26A69A; 
  --ion-item-background:#26A69A;

}


ion-list{
  --background: #26A69A; 
  --ion-item-background:#26A69A;
  --border-color: var(#26A69A);
}


ion-menu{
  --background: #26A69A; 
  --ion-item-background:#26A69A;
  --border-color:#26A69A;
  --ion-item-border-color:#26A69A
}


ion-content {
  --background: var(#26A69A);  // Aplica el color primario al fondo del contenido
}


#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}


#container1 {
  text-align: center;

  
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
}


#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

p{
  text-align: center;
  color: black;
}