ion-content {
  --background: #26A69A;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px; /* Espacio superior */
}

.animated-logo {
  width: 95%; /* Ajuste del tamaño del logo para que no ocupe tanto espacio */
  height: auto;
  animation: blink 2s infinite;
}

@keyframes blink {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* Movimiento hacia arriba */
  }
}

#container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 90px; /* Espacio para el botón */
}

ion-button {
  width: 250px;
  height: 50px;
  font-weight: bold;
  margin-bottom: 90px;
}

ion-button:hover {
  background-color: #e0e0e0; /* Color de fondo al hacer hover */
}

.version-text {
  text-align: center;
  color: black;
  margin-bottom: 10px; /* Para mover la versión al pie de la pantalla */
  font-size: 15px;
}


