<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="/login"></ion-back-button>
  </ion-buttons>
  <ion-title>TeleSalud</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12" size-md="8" offset-md="2">
      <ion-card>
        <ion-card-header class="ion-text-center">
          <ion-card-title>Regístrate Aquí!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label position="floating">RUT</ion-label>
              <ion-input [(ngModel)]="rut" name="rut" required (ionChange)="rutError = ''"></ion-input>
            </ion-item>
            <div *ngIf="rutError" class="error-message">
              {{ rutError }}
            </div>

            <ion-item>
              <ion-label position="floating">Nombre Completo</ion-label>
              <ion-input [(ngModel)]="nombreCompleto" name="nombreCompleto" required (ionChange)="nombreCompletoError = ''"></ion-input>
            </ion-item>
            <div *ngIf="nombreCompletoError" class="error-message">
              {{ nombreCompletoError }}
            </div>

            <ion-item>
              <ion-label position="floating">Dirección Completa</ion-label>
              <ion-input [(ngModel)]="direccion" name="direccion" required (ionChange)="direccionError = ''"></ion-input>
            </ion-item>
            <div *ngIf="direccionError" class="error-message">
              {{ direccionError }}
            </div>

            <ion-item>
              <ion-label position="floating">Teléfono</ion-label>
              <ion-input [(ngModel)]="telefono" name="telefono" type="tel" required (ionChange)="telefonoError = ''"></ion-input>
            </ion-item>
            <div *ngIf="telefonoError" class="error-message">
              {{ telefonoError }}
            </div>

            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input [(ngModel)]="email" name="email" type="email" required (ionChange)="emailError = ''"></ion-input>
            </ion-item>
            <div *ngIf="emailError" class="error-message">
              {{ emailError }}
            </div>

            <ion-item>
              <ion-label position="floating">Fecha de Nacimiento</ion-label>
              <ion-input type="date" [(ngModel)]="fechaNacimiento" name="fechaNacimiento" required (ionChange)="fechaError = ''"></ion-input>
            </ion-item>
            <div *ngIf="fechaError" class="error-message">
              {{ fechaError }}
            </div>

            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input [(ngModel)]="contrasena" name="clave" [type]="mostrarContrasena ? 'text' : 'password'" required (ionChange)="contrasenaError = ''"></ion-input>
              <ion-icon [name]="mostrarContrasena ? 'eye-off' : 'eye'" slot="end" (click)="toggleMostrarClave()"></ion-icon>
            </ion-item>
            <div *ngIf="contrasenaError" class="error-message">
              {{ contrasenaError }}
            </div>

            <ion-item>
              <ion-label position="floating">Repetir Contraseña</ion-label>
              <ion-input [(ngModel)]="recontrasena" name="repetirClave" [type]="mostrarRecontrasena ? 'text' : 'password'" required (ionChange)="error = ''"></ion-input>
              <ion-icon [name]="mostrarRecontrasena ? 'eye-off' : 'eye'" slot="end" (click)="toggleMostrarReclave()"></ion-icon>
            </ion-item>
            <div *ngIf="error" class="error-message">
              {{ error }}
            </div>
          </ion-list>

          <ion-button expand="full" size="small" class="custom-button" (click)="enviarRegistro()">Enviar Registro</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
