.error-message {
    color: red;
    font-size: 10px;
    margin-left: 15px;
    margin-top: 2px; /* Ajusta este valor según tu diseño */
    text-align: left; /* Opcional: ajusta la alineación del texto según tu diseño */
 }








 .eye-icon {
    cursor: pointer;
    margin-top: 35px; /* Ajusta este valor según tu diseño */
    margin-right: 0px;
    color: #1bd0fd;
  }
 
 
  .custom-button {
    background-color: blue; // Cambia el color de fondo a azul
    color: white; // Cambia el color del texto a blanco
  }
 
  .custom-button:hover {
    background-color: darkblue; // Cambia el color de fondo al pasar el ratón sobre el botón
  }
 
 






